[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = ">=2.10.0"
typing_extensions = "*"
aiohttp = "==3.7.4"
emoji = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
